In [ ]:
# docstring - описание функции

def double(x):
  return x*2

y = double(10)
y

20

In [ ]:
def fib(n):
  a, b = 0, 1
  while a < n:
    print(a, end=" ")
    a, b = b, a + b
  print()

A = fib(100)
A

0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
def fib(n):
  result = []
  a, b = 0, 1
  while a < n:
    result.append(a)
    a, b = b, a + b
  return result

A = fib(100)
A

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
# Рекурсия + факториал

def fact(n):
  if n == 1:
    return 1
  else:
    return n * fact(n-1)

fact(3)

# В рекурсии всегда нужна точка выхода! ( 4 и 5 строка )

6

In [ ]:
def pow(a, b):
  if b == 0:
    return 1
  if b == 1:
    return a
  return a*pow(a, b-1)

pow(4, 3)

64

In [ ]:
myPrint = print
myPrint("HI")

HI

In [ ]:
# Lambda

def apply(f):
  return f(1)

t = apply(lambda x: x + 4)
print(t)

5

In [ ]:
def funcx(*args):
  print(type(args))
  for arg in args:
    print(arg)

funcx(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

<class 'tuple'>
1
2
3
4
5
6
7
8
9
10